<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name=”renderer” content=”webkit|ie-comp|ie-stand” />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta name="keywords" content="注塑mes, 注塑行业mes, MES, 制造执行系统, 自动排程, APS" />
    <meta name="description" content="思普瑞云MES制造执行系统是国内首选的注塑行业MES，与自动排程APS工具配合使用，可提高注塑工厂车间管理效率30%，降低注塑机器人工操作和生产成本高达50%。" />
    <link rel="icon" href="~/logo32W.ico">
    <title>敏捷开发框架 - 登录页面</title>
</head>

<body>
    @Html.AppendCssFile("/Views/Login/Accordion/Index.css")
    <input id="errornum" type="hidden" value="@ViewBag.errornum" />
    <div class="sp-login-logo">
        @*<img src="~/Content/images/Login/logow.png" alt="">*@
        <div class="sp-login-title">
            思普瑞云MES系统
        </div>
    </div>
    <div class="sp-login-body">
        <div class="sp-login-prompt">
            <h4 class="sp-prompt-title">思普瑞云MES系统 全新上线</h4>
            <div class="sp-prompt-info">
                <p>思普瑞云MES制造执行系统是国内首选的注塑行业MES，</p>
                <p>与自动排程APS工具配合使用，可提高注塑工厂车间管理效率30%，</p>
                <p>降低注塑机器人工操作和生产成本高达50%</p>
            </div>
        </div>
        <div class="sp-login-main">
            <!--密码登录-->
            <div class="sp-login-bypsw noreg">
                @*<img class="sp-login-toCode" login-access="psw" src="~/Content/images/Login/default_code.png" alt="">*@
                <div class="sp-login-head">密码登录</div>
                <div class="sp-login-head-sub">欢迎使用思普瑞云MES系统, 请登录</div>
                <div class="sp-login-warning"><img src="~/Content/images/Login/error.png" alt=""><span>登录帐号或登录密码不正确</span></div>
                <div class="sp-login-input">
                    <input id="sp_username" type="text" placeholder="手机号/帐号">
                </div>
                <div class="sp-login-input">
                    <input id="sp_password" type="password" placeholder="密码">
                    <span id="psw_change"></span>
                </div>
                <div class="sp-login-input sp-login-reg">
                    <input id="sp_verifycode_input" type="text" placeholder="验证码">
                    <img class="code" id="sp_verifycode_img" src="~/Login/VerifyCode" alt="点击切换验证码" title="点击切换验证码" />
                </div>
                <div class="sp-login-btn" id="sp_login_btn"><span>立即登录</span></div>
            </div>

            <!--二维码登录-->
            @*<div class="sp-login-bycode">
                    <img class="sp-login-toCode" src="~/Content/images/Login/windos_pc.png" alt="">
                    <div class="sp-login-head">扫码登录</div>
                    <div class="sp-login-info">
                        <img src="~/Content/images/Login/qrcode.png" alt="">
                        <p>微信扫一扫 获体验资格</p>
                    </div>
                </div>*@
            @*<div class="sp-login-version">版本号：v7.0.0</div>*@
        </div>
    </div>
    <div class="sp-login-footer"><div><p>Copyright © 2018 思普瑞云(深圳)科技有限公司 版权所有</p><p>官方网站：<a href="http://www.sprann.com" target="_blank">http://www.sprann.com</a></p></div></div>

    <script src="~/Content/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/jquery/jquery.md5.min.js"></script>
    <script>
        function request(d) { for (var c = location.search.slice(1).split("&"), a = 0; a < c.length; a++) { var b = c[a].split("="); if (b[0] == d) if ("undefined" == unescape(b[1])) break; else return unescape(b[1]) } return "" };
        $.rootUrl = '@Url.Content("~")'.substr(0, '@Url.Content("~")'.length - 1);
        $.spToken = $('@Html.AntiForgeryToken()').val();
    </script>
    @Html.AppendJsFile("/Views/Login/Accordion/Index.js")
</body>
</html>